<!-- 
<div>
    <nav style="align:center";>
        <div style="margin-left: 5px;">
            <a class="navbar-brand" style="color: grey">Pizzeria</a>
        </div>
        <img src="../../assets/PizzeriaLogo.png" routerLink="/home" style="height: 40px; width: 40px;">&nbsp;&nbsp;&nbsp;
        <a href="#" routerLink="/order-pizza">Order Pizza</a>&nbsp;&nbsp;&nbsp;
        <a routerLink="/build-ur-pizza">Build_your_pizza</a>&nbsp;&nbsp;&nbsp;
        <a routerLink="/login">Login</a>&nbsp;&nbsp;&nbsp; -->
<!-- <a routerLink="/shopping-cart">Shopping Cart</a>&nbsp;&nbsp;&nbsp; -->
<!-- <a [routerLink]="['shopcart']">
      
            <button class="btn btn-warning text-white my-2 my-sm-0" ><svg xmlns="http://www.w3.org/2000/svg" width="25" height="23" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
              <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg>Shopping Cart</button>
          
          </a>

    </nav>
</div> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav class="navbar navbar-expand-lg" >
  <div class="container-fluid px-0">
    <div class="row w-100">
      <div class="col-2">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
          aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation"
          (click)="isShown = !isShown">
          <span class=""><i style="color:#FFAC28" class="fa fa-bars" aria-hidden="true"></i></span>
        </button>
      </div>
      <div class="col-6" style="float: left;">
        <div class="collapse navbar-collapse" [ngClass]="{ 'show': isShown }" id="navbarTogglerDemo03">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a routerLink="/order-pizza" class="nav-link name" (click)="isShown = false">Pizzeria</a>
            </li>
            <li class="nav-item active">
              <img class="logo nav-link" style="width: 80px;" routerLink="/home" (click)="isShown = false"
                src="../../assets/images/logo.png">
            </li>
            <li class="nav-item">
              <a routerLink="/order-pizza" class="nav-link" (click)="isShown = false">Order Pizza</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/build-ur-pizza" (click)="isShown = false">Build Your Pizza</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/login" (click)="isShown = false">Login</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
              <a class="nav-link" routerLink="/shopcart" (click)="isShown = false" >Shopping Cart</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>