<div class='main'>
    <div>...</div>
    <div>...</div>
    <div class="img-div">
        <video style="margin: 0;" autoplay  loop id="myVideo">
            <source src="../../assets/videos/main.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
          </video>
    </div>
</div>


<div class="container-fluid">
    <h1 style="text-align: center">Our Story</h1>

    <body>
        <p>
            We believe in good. We launched Fresh Pan Pizza Best Excuse Awards on our Facebook fan page Fans were given
            situations where they had to come up with wacky and tun excuses The person with the best excuse won the Best
            Excuse Badge and won Pizzenas vouchers. Their enthusiastic response proved that Purzena's Fresh Pan Pizza is
            the Tastiest Pan Pizza Ever!<br>
            <br>

            Ever since we launched the Tastiest Pan Pizza ever people have not been able to resist the sofest, cheesiest
            crunchiest, butteriest Domino's Fresh Pan Pizza They have been leaving the stage in the middle of a
            performance and even finding excuses to be disqualified in a football match. <br>
            <br>
            We launched Fresh Pan Pizza Best Excuse Awards on our Facebook fan page Fans were given situations where
            they had to come up with wacky and fun excuses. The person with the best excuse won the Best Excuse Badge
            and won Domino's vouchers. Their enthusiastic response proved that Pizzena's Fresh Pan Pizza is the Tastest
            Pan Pizza Ever!
        </p>
        <p>
            <img src="https://image.shutterstock.com/image-photo/raw-dough-pizza-ingredients-spices-260nw-526830277.jpg"
                align="left" />
        </p>
        <br><br>
        <h4 style="margin-left: 35%">Ingredients</h4>
        <p style="margin-left: 35%">We're ruthless about goodness. We have no quaims about teanng up a day-old lettuce
            leaf (straight from the fami) or stearing a baby (carrot) Cut Cut Chop Chop Steam Steam Stir Stir. While
            they're still young and fresh-that's our motto. It makes the kitchen a better place.
        </p>
    </body>
    <br>
    <br>
    <br><br>
    <body>
        <p>
            <img src="https://image.shutterstock.com/image-photo/happy-chef-260nw-437116033.jpg" align="right" />
        </p>
        <br><br><br><br>
        <h4 style="margin-left: 10px">Our Chefs</h4>

        <p style="margin-left: 10px">
            They make sauces sing and salads dance. They create magic with skill Knowledge, passion, and stirring spoons
            (among other things) They make goodness so good, it doesn't know what to do with itself We do though We send
            it to you.
        </p>
        <br><br><br><br>
        <p>
            <img src="https://image.shutterstock.com/image-photo/vintage-analog-kitchen-countdown-timer-260nw-669255388.jpg" align="left" />
        </p>
        <br><br><br><br>
        <h4 style="margin-left:38%">45 min delivery</h4>
    </body>
</div>
