<form #myForm="ngForm">
    Aishwarya : <input type="text" required #fname="ngModel" id="fname" name="fname" [(ngModel)]="firstname" minlength="3"><br>
    <div *ngIf="fname.invalid && (fname.touched || fname.dirty)" class="error">
      
      <div *ngIf="fname.errors?.required">
        Name must be provided
      </div>
      <div *ngIf="fname.errors?.minlength">
        Name should be minimun 4 3 characters
      </div>
    </div><br><br>
    Enter mobile : <input type="text" required #mobile="ngModel" id="mobile" name="mobile" [(ngModel)]="mobileno" minlength="10" maxlength="10"><br>
    <div *ngIf="mobile.invalid && (mobile.touched || mobile.dirty)" class="error">
      <div *ngIf="mobile.errors?.minlength">
        Mobile number should be of 10 digits
      </div>
    </div><br><br>
    <button type="submit" [disabled]="myForm.invalid">Login</button>
    <p>Don't have account? create now..!!</p>
    <a routerLink="/register" class="btn btn-link">Register</a>
</form>
  